
.create-story {
  display: flex;
  // temp
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  position: relative;
}

.create-story__inputs {
  width: 260px;
  margin-left: 40px;
}

.flex--centered {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 25px;

  p {
    color: $clr-light;
    display: block;
    width: 100%;
    text-align: center;
    margin-top: 15px;
    font-size: 1.1em;
    font-weight: bold;
    font-style: italic;
  }

}
