

.site-header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 20px;

  .side-content {
    position: absolute;
    top: 20px;
    right: 20px;

    .btn {
      margin-left: 10px;
    }

  }

  &.site-header--dark {

    .btn,
    a {
      color: $clr-medium;
      border-color: $clr-medium;
    }

    .header-user__name {
      color: $clr-medium;
    }

  }

}


.header-user {
  @extend .clearfix;
  cursor: pointer;
}

  .header-user__name {
    float: left;
    line-height: 40px;
    font-weight: 700;
    color: #ffffff;
  }

  .header-user__thumb {
    @extend .img-cover;
    @include border-radius(50%);
    display: inline-block;
    float: left;
    width: 40px;
    height: 40px;
    background-color: #000000;
    background-image: url(/assets/images/me.jpg);
    margin-left: 12px;
  }

  .header-user-dropdown {
    @include border-radius(5px);
    position: absolute;
    top: 0;
    right: 0;
    width: 160px;
    background-color: #ffffff;

    @extend %growToggle;

    //overflow: hidden;
  }

    .header-user-dropdown__close {
      @include border-radius(50%);
      @include box-shadow(0, 0, 1px, rgba(0,0,0,0.2));
      position: absolute;
      top: -10px;
      right: -10px;
      width: 28px;
      height: 28px;
      font-size: 18px;
      text-align: center;
      line-height: 28px;
      cursor: pointer;
      background-color: #ffffff;

      &:hover {
        background-color: $clr-major;
        color: white;
      }

    }

    .header-user-dropdown__main {
      @include border-radius-separate(5px, 5px, 0, 0);
      padding: 16px;
      display: block;
      border-bottom: 1px solid #C3D3E0;
      cursor: pointer;

      &:hover {
        background-color: $clr-major;
        color: white;
      }

      .username {
        font-weight: bold;
      }

    }

    .header-user-dropdown__list {
      padding: 8px 0;

      > li {

      }

      a {
        display: block;
        padding: 8px 16px;
        cursor: pointer;

        &:hover {
          background-color: $clr-major;
          color: white;
        }

      }

    }
