<header class="site-header">
  <a href="#" class="site-link">yep.is</a>
  <div class="side-content">
    <div ng-if="!headerVM.user">
      <button ng-click="headerVM.authUser('login');" class="btn btn-clear">Sign In</button>
      <button ng-click="headerVM.authUser('create');" class="btn btn-round-outline">Create Account</button>
    </div>
    <div class="header-user" ng-if="headerVM.user">
      <span class="header-user__name">Simon</span>
      <span class="header-user__thumb"></span>
    </div>
  </div>
</header>
