.story-intro {
  width: 100%;
  min-height: 100vh; // temporary
  background-color: #2F2F2F;
  position: relative;

  @extend .img-cover;
  //background-image: url(/assets/images/kansananbu_1920.jpg);

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
  }

  .fade {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 150px;
    @include background-gradient(rgba(0,0,0,0), rgba(0,0,0,0.25))
  }

  .content-wrapper {
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .content {
    position: relative;
    text-align: center;
  }

}

  .site-intro__canvas {
    @include transition(opacity 300ms ease);
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    &.image--loaded {
      opacity: 1;
    }

  }

  .story-intro__option {
    position: absolute;
    bottom: 30px;
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align: center;
  }

  .story-intro__stats {
    @extend .clearfix;
    position: absolute;
    right: 30px;
    bottom: 30px;
  }

  .story-intro-title {
    font-size: 3em;
    line-height: 1.5em;
    color: #FFFFFF;
    font-weight: bold;
    margin-bottom: 8px;
  }

  .story-intro-subtitle {
    color: #FFFFFF;
    font-size: 1.8em;
    line-height: 1.1em;
  }

  .story-intro__left {
    @extend .clearfix;
    position: absolute;
    left: 30px;
    bottom: 30px;
  }

    .story-intro__author {
      @extend .clearfix;
      float: left;

      .thumb {
        @include border-radius(50%);
        @extend .img-cover;
        display: inline-block;
        width: 42px;
        height: 42px;
        background-color: black;
        margin-right: 8px;
        float: left;
        background-image: url(/assets/images/me.jpg);
      }

      .text {
        line-height: 42px;
        float: left;
        font-weight: 700;
        color: #ffffff;
      }

    }

  .story-intro__author-controls {
    @extend .clearfix;
    float: left;
    margin-right: 30px;
    height: 42px;


    .btn-wrapper {
      float: left;

      &:first-of-type {

        .btn {
          @include border-radius-separate(4px, 0, 4px, 0);
        }
      }

      &:last-of-type {

        .btn {
          @include border-radius-separate(0, 4px, 0, 4px);
        }
      }

    }

  }

.story-edit-toggle {
  //position: absolute;
  //left: 30px;
  //bottom: 30px;
  float: left;
  color: #ffffff;
  margin-left: 30px;
  margin-top: 10px;

  &.state--active {

    .indicator {
      background-color: #FFFFFF;
    }

  }

  .indicator {
    @include border-radius(3px);
    display: inline-block;
    width: 16px;
    height: 16px;
    border: 2px solid #FFFFFF;
    margin-left: 4px;
    position: relative;
    top: 2px;
  }

}

.upload-image-preview-wrapper {
  position: relative;
}

  .upload-image-preview {
    position: absolute;
    bottom: 100%;
    right: 50%;
    width: 250px;
    height: 148px;
    margin-bottom: 20px;
    margin-right: -18px;

    .image {
      @extend .img-cover;
      @include border-radius(3px);
      width: 100%;
      height: 100%;
      overflow: hidden;
      position: relative;
    }

      .image__shade {
        @include transition(transform 200ms ease);
        //visibility: hidden;
        width: 100%;
        height: 100%;
        background-color: rgba(255,255,255,0.8);
      }

    .text {
      @include border-radius(50%);
      position: absolute;
      bottom: 5px;
      right: 5px;
      width: 28px;
      height: 28px;
      background-color: #ffffff;
      font-size: 11px;
      text-align: center;
      line-height: 32px;
    }

    .down-arrow {
      font-size: 28px;
      position: absolute;
      right: -2px;
      bottom: -16px;
      color: rgba(0,0,0,0.3);
    }

  }
