<div class="story-page__content">
  <div class="story-page__content__width"> <!-- max-width -->
    <div class="story-page__content__padding"> <!-- padding -->
      <div class="padding-border border--left"></div>
      <div class="padding-border border--top"></div>
      <div class="padding-border border--right"></div>
      <div class="padding-border border--bottom"></div>
      <div class="story-page__content__inner"> <!-- text block -->
        <div class="text-block">
          <div ng-repeat="element in storyVM.textElements">
            <div ng-if="!storyVM.states.editing"
                 class="text-block__element"
                  ng-bind-html="element.text"></div>
            <div ng-if="storyVM.states.editing"
                 class="text-block__element"
                 ng-class="{
                  'state--selected': element.states.selected
                 }"
                  ng-click="storyVM.openTextEditor($event, element);"
                  ng-focus="storyVM.openTextEditor($event, element);"
                  ng-model="element.text"
                  contenteditable="{{storyVM.states.editing}}"
                  strip-br="false"
                  strip-tags="true"></div>
            <!--
                  ng-blur="storyVM.closeTextEditor(true);"
                  -->
          </div>
          <!-- controls -->
          <div class="text-block__add">
            <span class="icon icon-plus"></span>
            <span class="text">ADD TEXT</span>
          </div>
          <div class="text-block__control move-right icon icon-right-open"></div>
          <div class="text-block__control move-down icon icon-down-open"></div>
        </div>

      </div>
    </div>
    <div class="width-border border--left"></div>
    <div class="width-border border--right"></div>
  </div>
</div>
