//** General Classes

.clearfix:after{
  display:block;visibility:hidden;clear:both;height:0;content:" ";font-size:0
}

* html .clearfix{
  -ms-zoom:1;zoom:1
}

*:first-child+html .clearfix{
  -ms-zoom:1;zoom:1
}

.float--left {
  float: left;
}

.float--right {
  float: right;
}

img {
  max-width: 100%;
  max-height: 100%;
}

.img-cover {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.align-right {
  text-align: right;
}

.align-left {
  text-align: left;
}

.align-center {
  text-align: center;
}

.site-width--def {
  width: 100%;
  max-width: 1080px;
  margin-left: auto;
  margin-right: auto;
}




.image-progress-wrapper {
  position: relative;
  overflow: hidden;
}

.image-progress__shade {
  @include transition(transform 200ms ease);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255,255,255,0.8);
  transform: translateX(0);
}
