$clr-major: #0FAEFF;

$clr-dark: #373D44;
$clr-light: #C0C8CE;
$clr-light__darker: #A3ABB1;
$clr-faintest: #ECECEC;

$clr-medium: #848F99;

$clr-love: #E31E6A;

$clr-pale: #F3F6F9;

$clr-dull: #DCE4EA;

// Shared Animations

%growToggle {

  @include transition(all 350ms ease);

  &.ng-enter {
    @include animation(bounceInDown 350ms ease);
  }

  &.ng-leave {
    @include animation(bounceOut 350ms ease);
  }

}


%popToggle {

  @include transition(all 300ms ease);


  &.ng-hide-remove,
  &.ng-enter {
    @include animation(fadeIn 300ms ease);
  }

  &.ng-hide-add,
  &.ng-leave {
    @include animation(bounceOut 300ms ease);
  }

}
